<div class="row">
  <div class="col-2 d-flex justify-content-around">
  <button [disabled]="gameStart" (click)="startGame()" class="btn btn-success">Start</button>
  <button [disabled]="!gameStart" (click)="stopGame()" class="btn btn-danger">Stop</button>
  </div>
</div>
<hr>

<div class="row">
  <div class="col-xs-12">
    <div *ngFor="let component of components">
      <app-odd *ngIf="component%2!==0" [orderNum]="component"></app-odd>
      <app-even *ngIf="component%2==0" [orderNum]="component"></app-even>
    </div>

  </div>
</div>

