<div class="row">
  <div class="col-xs-12 detail-image">
    <img [src]="recipe.imagePath" class="img-responsive detail-image_img" alt="{{recipe.name}}">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu ">
        <li><a class="dropdown-item" (click)="addToShopping()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
        </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingridient of recipe.ingridients">{{ingridient.name}} ({{ingridient.amount}})</li>
    </ul>
  </div>
</div>
