
<div class="container">
 <div class="row" style="justify-content: center; display: flex;padding-top: 40px; flex-direction: column; align-items: center;">
   <form (ngSubmit)="onCreatePost(postForm.value)"  #postForm="ngForm" >
    <div class="col-xs-8">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" ngModel id="title" class="form-control" required>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        <label for="title">Content</label>
        <textarea type="text" name="content" id="title" ngModel class="form-control" required></textarea>
      </div>
    </div>
    <div class="col-xs-8">
      <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">Send Post</button>
    </div>
    <div class="col-xs-8">
    <hr>

      <button type="button" class="btn btn-primary" (click)="onFetchPosts()">Fetch Posts</button> |
      <button class="btn btn-danger" (click)="onClearPosts()" type="button" [disabled]="loadedPosts.length < 1">Clear posts</button>
    </div>
    <div class="col-xs-8">
      <div class="row">
       <div class="col-xs-12">
        <p *ngIf="loadedPosts.length < 1 && !isLoading">No posts available!</p>
        <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isLoading && !error">
          <li class="list-group-item" *ngFor="let post of loadedPosts" style="display: flex; align-items: center; justify-content: space-between;">
            <span>
              <h4>Title: {{post.title}}</h4>
            <p>Content: {{post.content}}</p>
            </span>
            <button class="btn-danger" type="button" (click)="onDelete(post.id)">x</button>
          </li>
        </ul>
       <p *ngIf="isLoading && !error">Loading...</p>
       <div class="alert alert-danger" *ngIf="error">
         <h1>An Error Occured</h1>
          <p>[Message]: {{error.message}}</p>
          <span class="badge">{{error.status}}</span>
          <p *ngIf="error.error.error"> [Server Message]: {{error.error.error}}</p>
          <button class="btn btn-danger" (click)="onHandleError()">Dismiss</button>
        </div>
       </div>

      </div>
    </div>
   </form>
 </div>

</div>
