<!-- <label for="server">Server Name</label>
<input type="text" class="form-control" [(ngModel)]="serverName" id="server">
<p>{{serverName}}</p>
<button [disabled]="!allowNewServer" class="btn btn-primary" (click)="onCreateServer()">Add Server</button>
<p>{{serverCreationStatus}}</p>
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>

<app-server *ngFor="let server of servers" ></app-server>
 -->

 <button class="btn btn-primary" (click)="togglePassword()">Display Details</button>
<p *ngIf="displayPassword">Secret Password = Luna</p>
<hr>
<p *ngFor="let msg of messages;let i = index"  [ngClass]="{custom: i >= 4 ? true : false}"> {{msg | date:'hh:mm:ss'}}</p>
